h1 {

	color: black;
	border: solid white 3px;
	border-radius: 5px;
	padding: 5px;
	background-color: lightgrey;
	
}

body {

	background-color: darkgrey;
	color: black;

}

p {

	margin-top: 35px;
	margin-bottom: 35px;

}

a:link {

	color: pink;
	background-color: transparent;
	text-decoration: underline;

}

a:active {

	color: pink;
	background-color: transparent;
	text-decoration: underline;




}

a:visited {

	color: pink;
	background-color: transparent;
	text-decoration: underline;

}




ul.navbar {

	position: absolute;
    top: 0;
    right: 0;

    list-style-type: none;
    padding: 0;
    margin: 0;
    
    background-color: darkgrey;
    overflow: hidden;
    border-style: solid;
    border-color: white;



}


ul.navbar li {

	float: left;
	
}

ul.navbar li a {

	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	

}


ul.navbar li a:active {

	color: black;
	display: block;
	text-decoration: none;


	
}

ul.navbar li a:hover {

	background-color: white;

	
}

table.shop {

	position: absolute;
	left: 25%;

}

table.shop tr td {

	padding: 15px;
	border: solid;
	border-color: black;
	border-width: 3px;

	text-align: center;
}

table.gal {

	position: absolute;
	left: 25%;
	display: block;
	width: 100%;


}

table.gal tr td {
	text-align: center;
}

table.gal tr td.img {


	border: solid;
	border-color: black;
	padding: 3px;

}




