

body {

	background-color: black;
	color: white;

}

p {

	margin-top: 35px;
	margin-bottom: 35px;

}

a:link {

	color: pink;
	background-color: transparent;
	text-decoration: underline;

}

a:active {

	color: pink;
	background-color: transparent;
	text-decoration: underline;




}

a:visited {

	color: pink;
	background-color: transparent;
	text-decoration: underline;

}

h1 {

	color: pink;
	
	
}

ul.navbar {

	position: fixed;
    top: 0;
    right: 0;

    list-style-type: none;
    margin: 10px;
    padding: 5px 5px;
    width: 200px;
    background-color: pink;

    border-style: solid;
    border-width: 5px;
    border-color: white;

}

li.navbar a {

	color: black;
	display: block;
	text-decoration: none;
	display: block;
	padding: 8px 16px;
	

}


li.navbar a:active {

	color: black;
	display: block;
	text-decoration: none;

	
}

li.navbar a:hover {

	color: white;
	display: block;
	text-decoration: none;

	
}
	



