<!DOCTYPE html>
<html>

<style>



ul {

	list-style-type: none;
    margin: 10px;
    padding: 5px 5px;
    width: 200px;
    background-color: pink;

    border-style: solid;
    border-width: 5px;
    border-color: white;

    
}

li {

	display: block;
	padding: 8px 16px;
	

}

a {

	display: block;
    color: black;
    text-decoration: underline;
    
    
}

a:active {

	color: black;
	text-decoration: none;

	
}


</style>



	<ul>

	<il> <a href="about.html"> About Us </a> </il>
	<il> <a href="gallery.html"> Gallery </a> </il>
	

	</ul>








</html>